:root {
  --off-white: #f1e8e8;
}
 .App {
   background-color: rgb(190, 248, 242);
   height: 100%;
 }

.section{
  border-radius: 20px;
  background:white;
}
.section-dark {
  border-radius: 20px;
  background: #333;
  color: white;
}

.section-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

.section-content h1 {
  font-family: sans-serif;
}

.altbody {
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
}
